  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
  {{#if showErrorAlert}}
    Swal.fire({
      icon: 'error',
      title: 'Oops algo salió mal',
      text: {{{json errorMessage}}},
      confirmButtonColor: '#3085d6',
      confirmButtonText: 'OK'
    })
  {{/if}}
</script>

  <h1>
    Products
  </h1>
  <p>Bienvenido: {{user.first_name}} {{user.last_name}}</p><br />
  <p><a href="/profile">{{user.email}}</a>
    - role:{{user.role}}
    - [
    <a href="/api/sessions/logout">Logout</a>]
  </p>
    {{#if (eq user.role "user")}}
      <strong><a href="/carts/:cid">Cart</a></strong>
      <strong><a href="/chat">Chat</a></strong>
    {{/if}}
    {{#if (eq user.role "premium")}}
      <strong><a href="/carts/:cid">Cart</a></strong>
      <strong><a href="/chat">Chat</a></strong>
    {{/if}}
    {{#if (eq user.role "admin")}}
      <strong><a href="/products/realtimeproducts">Administrar productos</a></strong>
      <strong><a href="/users">Administrar usuarios</a></strong>
    {{/if}}
    {{#if (eq user.role "premium")}}
      <strong><a href="/products/realtimeproducts">Administrar productos</a></strong>
    {{/if}}
  <hr />
  <div>
    {{#if paginateInfo.hasPrevPage}}
      <a href="{{paginateInfo.prevLink}}">Anterior</a>
    {{/if}}
    {{#each paginateInfo.totalPages}}
      <a href="{{this.link}}">{{this.page}}</a>
    {{/each}}
    {{#if paginateInfo.hasNextPage}}
      <a href="{{paginateInfo.nextLink}}">Siguiente</a>
    {{/if}}

  </div>

  <hr />
  <table>
    <thead>
      <tr>
        {{#if (eq user.role "user")}}
        <td></td>
        {{/if}}
        {{#if (eq user.role "premium")}}
        <td></td>
        {{/if}}
        <td>Nombre</td>
        <td>Descripción</td>
        <td>Precio</td>
        <td>Stock</td>
        <td>Código</td>
        <td>Categoría</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
    {{#if (eq user.role "user")}}
      {{#each products}}
        <tr>
          <td><button onclick="addProductToCart('{{this._id}}')">AddToCart</button></td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.code}}</td>
          <td>{{this.category}}</td>
          <td>{{this.status}}</td>
        </tr>
      {{/each}}
      {{/if}}
      {{#if (eq user.role "admin")}}
      {{#each products}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.code}}</td>
          <td>{{this.category}}</td>
          <td>{{this.status}}</td>
        </tr>
      {{/each}}
      {{/if}}
      {{#if (eq user.role "premium")}}
      {{#each products}}
        <tr>
          <td><button onclick="addProductToCart('{{this._id}}')">AddToCart</button></td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.code}}</td>
          <td>{{this.category}}</td>
          <td>{{this.status}}</td>
        </tr>
      {{/each}}
      {{/if}}
    </tbody>
  </table>
</div>

<script>
  const addProductToCart = ( pid) => { 
          const cid = {{{json user.cart}}}
          fetch(`/api/carts/${cid}/products/${pid}`, { 
            method: 'post' 
            }) 
        .then(result => result.json()) 
        .then(result => { 
          if (result.status ==='error') throw new Error(result.error) 
          alert(`Ok. Todo salió bien! :)\nEl producto se agregó al carrito con id=${result.payload._id}!`) 
          }) 
        .catch(err => alert(`Ocurrió un error :(\n${err}`)) }

</script>