<div>
  <h1>
    Products
  </h1>
  <table>
    <thead>
      <tr>
        <td>Nombre</td>
        <td>Descripción</td>
        <td>Precio</td>
        <td>Stock</td>
        <td>Código</td>
        <td>Categoría</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.code}}</td>
          <td>{{this.category}}</td>
          <td>{{this.status}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>