<div>
    <h1>RealTimePRoducts</h1>
    <p>Registra un producto</p>
    <form action="/api/products" method="post">
      name: <input type="text" name="title" /><br />
      description: <input type="text" name="description" /><br />
      code: <input type="text" name="code" /><br />
      price: <input type="number" name="price" min="0" required /><br />
      status: <input type="checkbox" value="true" checked name="status" /><br />
      stock: <input type="number" name="stock" min="0" required /><br />
      category: <input type="text" name="category" /><br />
      thumbnails: <input type="text" name="thumbnails[]" /><br />

      <input type="submit" value="Registrar producto" />
    </form>
    <hr>
    <h2>
    Products
  </h2>
  <table>
    <thead>
      <tr>
        <td></td>
        <td>Nombre</td>
        <td>Descripción</td>
        <td>Precio</td>
        <td>Stock</td>
        <td>Código</td>
        <td>Categoría</td>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
            <td><button onclick="deleteProductById{{this.id}}">Eliminar</button></td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.code}}</td>
          <td>{{this.category}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>



</div>
<script src="/socket.io/socket.io.js"></script>
