<div>
  <h1>Registra un producto</h1>
  <p><a href="/products">< Volver a productos</a></p>
  <form>
    name:
    <input type="text" name="title" id="title" /><br />
    description:
    <input type="text" name="description" id="description" /><br />
    code:
    <input type="text" name="code" id="code" /><br />
    price:
    <input type="number" name="price" min="0" required id="price" /><br />
    status:
    <input type="checkbox" value="true" checked name="status" id="status" /><br
    />
    stock:
    <input type="number" name="stock" min="0" required id="stock" /><br />
    category:
    <input type="text" name="category" id="category" /><br />
    thumbnails:
    <input type="file" name="thumbnails[]" /><br />

    <input type="submit" value="Registrar producto" id="createBtn" />
  </form>
  <hr />
  <h2>
    Products
  </h2>
    <div>
    {{#if paginateInfo.hasPrevPage}}
      <a href="{{paginateInfo.prevLink}}">Anterior</a>
    {{/if}}
    {{#each paginateInfo.totalPages}}
      <a href="{{this.link}}">{{this.page}}</a>
    {{/each}}
    {{#if paginateInfo.hasNextPage}}
      <a href="{{paginateInfo.nextLink}}">Siguiente</a>
    {{/if}}

  </div>
  <table id="realProductsTable">
    <thead>
      <tr>
        <td></td>
        <td>Nombre</td>
        <td>Descripción</td>
        <td>Precio</td>
        <td>Stock</td>
        <td>Código</td>
        <td>Categoría</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>
            <button onclick="deleteProduct('{{this.id}}')">Eliminar</button>
          </td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.code}}</td>
          <td>{{this.category}}</td>
          <td>{{this.status}}</td>
          <td><button>Editar</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>